
<div class="item-box">
  <h2 class="name">
    <%= @count.name %>
  </h2>
  <div class='item-img-content'>
    <%= image_tag @count.image ,class:"item-box-img" %>
  </div>
  <% if user_signed_in? && @count.user.id == current_user.id  %>
    <%= link_to '編集', edit_count_path(@count.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', count_path(@count.id), method: :delete, class:'item-destroy' %>
  <% end %>

  <div class="item-explain-box">
    <span><%= @count.remark %></span>
  </div>
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-item">投稿者</th>
        <td class="detail-value"><%= @count.user.nickname %></td>
      </tr>
      <tr>
        <th class="detail-item">カテゴリー</th>
        <td class="detail-value"><%= @count.category.name %></td>
      </tr>
      <tr>
        <th class="detail-item">試行回数</th>
        <td class="detail-value"><%= @count.trials %></td>
      </tr>
      <% if @details %>
          <%= render partial: 'count-show', collection: @details, as: :detail %>
      <% end %>
    </tbody>
  </table>
</div>
